#content
{
	padding-left: 2em;
	padding-right:2em;
}

#footer
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}



#profilUporabnika #ime
{
	background-color: red;
}

#profilUporabnika #priimek
{
	background-color: red;
}

#profilUporabnika #ehrId
{
	background-color: red;
}

/* za stolpčen diagram/graf */
 .axis 
 {
	font: 10px sans-serif;
 }

 .axis path,
 .axis line 
 {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .gumb
 {
 	cursor:pointer;
 }