#content
{
	padding-left: 2em;
	padding-right:2em;
}

#footer
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}



#profilUporabnika #ime
{
	background-color: red;
}

#profilUporabnika #priimek
{
	background-color: red;
}

#profilUporabnika #ehrId
{
	background-color: red;
}

